body{
  margin:0px;
}

div.SM8_Browser_Wrap{
  display:flex;
  display: -webkit-flex;
  flex-direction: column;

  overflow-x:hidden;
  overflow-y:hidden;
}

div.SM8_Header{
  height:35px;
  width:100%;

  background-color: #339966;
}

div.SM8_Browser{
  height:100%;
  width:100%;
}

div.SM8_FileListing{
  height:30px;

  border-bottom: #EEE 1px solid;

  padding-left:10px;
}

div.SM8_AddItem{
  width:50px;
  height:50px;
  position:fixed;

  border-radius:50px;
  background-color:#339966;

  text-align: center;
  font-size:44px;
  color:white;
  cursor:pointer;
}

div.SM8_AddItem_Options{
  width:100px;
  height:48px;
  z-index: 10;

  display: none;
  position: fixed;

  border: 1px #EEE solid;
  border-radius: 5px;
  background-color: #FFF;

  text-align: center;

  font-size:16px;
  font-weight: bold;
}

div.SM8_AddItem_Option{
  margin-top: 2px;

  border-bottom: 1px solid #EEE;

  padding-bottom: 2px;

  cursor:pointer;
}

div.SM8_UploadItems_Wrap{
  position: fixed;
  display:flex;
  display:-webkit-flex;

  justify-content: space-around;
  z-index:11;

}

#SM8_UploadItems_Form_FileDeck_Form{/*literal Form*/
  z-index:13;
}

div.SM8_UploadItems_Form{/*Wrapper for area with divs with <inputs>*/
  width:400px;
  height:500px;
  z-index:13;

  margin:60px auto auto auto;
  border-radius: 12px;

  overflow-x hidden;

  display:flex;
  display:-webkit-flex;
  justify-content:center;

  opacity: 1;
  background-color:rgba(255,255,255,1);
}

#SM8_UploadItems_Form_FileDeck{
	height:465px;
	overflow-y: auto;
}

div.SM8_UploadItems_Form_FileDeck_Board{
  width: 350px;
  height: 26px;

  margin-top:4px;
  border: 1px solid #EEE;
  overflow-y: hidden;
  overflow-x: hidden;

  padding: 2px 6px 0px 6px;
}

div.SM8_UploadItems_Form_FileDeck_BoardHeader{
}

div.SM8_UploadItems_Form_FileDeck_BoardContent{
  padding-left:6px;
}

div.SM8_UploadItems_Form_FileDeck_BoardContentItem{
  margin-top:6px;
}

div.SM8_UploadItems_ControlRow{
	width:400px;
	height:35px;
	position:relative;
	top:-35px;
}

#SM8_UploadItems_ControlRow_AddFile{
	height:30px;
	width:199px;
	display:inline;
	float:left;
	padding-top:5px;
	text-align:center;
	background-color:#339966;
	color:white;
	cursor:pointer;
}

#SM8_UploadItems_ControlRow_SubmitForm{
	height:35px;/*Value differs from AddFile to compensate for padding on <input>*/
	width:199px;
	display:inline;
	float:right;
	text-align:center;
	background-color:#339966;
	cursor:pointer;
}

#SM8_UploadItems_ControlRow_SubmitForm input{
	width:199px;
	height:30px;
	background:none;
	border:none;
	padding-top:5px;
	color:white;
	font-size:inherit;
	font-family:inherit;
}

div.SM8_Homerow{
  height:55px;
  width:100%;
  -webkit-align-self: flex-end;

  background-color: black;

  color:white;
}

div.SM8_UploadItems_Opaque{
  position:fixed;
  top:0px;
  left:0px;
  min-width:100vw;
  min-height:100vh;
  background-color: rgba(0,0,0,0.5);
  z-index:1;
}
