body{
  margin:0px;
}

div.SM8_Browser_Wrap{
  display:flex;
  display: -webkit-flex;
  flex-direction: column;.

  overflow-x:hidden;
  overflow-y:hidden;
}

div.SM8_Header{
  height:35px;
  width:100%;

  background-color: #339966;
}

div.SM8_Browser{
  height:100%;
  width:100%;
}

div.SM8_FileListing{
  height:30px;

  border-bottom: #EEE 1px solid;

  padding-left:10px;
}

div.SM8_AddItem{
  width:50px;
  height:50px;
  position:fixed;

  border-radius:50px;
  background-color:#339966;

  text-align: center;
  font-size:44px;
  color:white;
}

div.SM8_AddItem:hover{
  cursor:pointer;
}

div.SM8_AddItem_Options{
  width:100px;
  height:48px;
  z-index: 10;

  display: none;
  position: fixed;

  border: 1px #EEE solid;
  border-radius: 5px;
  background-color: #FFF;

  text-align: center;

  font-size:16px;
  font-weight: bold;
}

div.SM8_AddItem_Option{
  margin-top 2px;

  border-bottom: 1px solid #EEE;

  padding-bottom: 2px;

  cursor:pointer;
}

div.SM8_UploadItems_Wrap{
  position: fixed;
  z-index:11;

  display:block;/**********************************************/

}

div.SM8_UploadItems_Opaque{
  min-width:100vh;
  min-height:100vh;

  background-color: rgba(0,0,0,0.5);
}

div.SM8_UploadItems_Form{
  width:400px;
  height:500px;
  z-index:12;

  position: relative;
  top: -100vh;;

  margin:60px auto auto auto;
  border-radius: 12px;

  overflow-x hidden;
  overflow-y: auto;

  opacity: 1;
  background-color:rgba(255,255,255,1);
}

#SM8_UploadItems_Form_FilePool{
  width:350px;
  height:60px;

  margin:5px auto 5px auto;
  border: 2px dashed #EEE;

  text-align: center;
  color: #DDD;
  font-size:24px;
}

div.SM8_UploadItems_Form_FilePool_Upload{
  width:inherit;
  height:inherit;
  border:none;
}

div.SM8_UploadItems_Form_FileDeck_Board{
  width: 350px;
  height: 20px;

  border: 1px solid #EEE;
  overflow-y: hidden;
  overflow-x: hidden;

  padding: 2px 6px 0px 6px;
}

div.SM8_UploadItems_Form_FileDeck_BoardHeader{
}

div.SM8_UploadItems_Form_FileDeck_BoardContent{
  padding-left:6px;
}

div.SM8_UploadItems_Form_FileDeck_BoardContentItem{
  margin-top:6px;
}

div.SM8_Homerow{
  height:55px;
  width:100%;
  align-self: flex-end;

  background-color: black;

  color:white;
}
